<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Author" content="THE ZENSIVE">
    <title>Aviso legal</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://use.typekit.net/jgk3gqt.css">
    </head>
    <body class="aviso-legal-page">
    <header>
      <nav>
            <a href="index.html">
            <img src="../images/thezensive-isotipo.png" alt="Logotipo The Zensive"
            width="2436" height="1094">
            </a>     
        <ul class="menu">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="presupuesto.html">Presupuesto</a></li>
            <li><a href="contacto.html">Contacto</a></li>
          </ul>
      </nav>
    </header>

    <main>
        <h1>AVISO LEGAL</h1>
    </main>

    <footer>
        <div class="footer-container">
          <!-- Redes sociales -->
          <div class="footer-socials">
            <a href="https://www.facebook.com" target="_blank">
              <img src="../images/facebook.png" alt="Facebook @thezensive" width="885" height="885">
            </a>
            <a href="https://www.instagram.com/thezensive/" target="_blank" width="885" height="885">
              <img src="../images/instagram.png" alt="Instagram @thezensive" width="885" height="885">
            </a>
            <a href="https://pin.it/61AoFFeXx" target="_blank">
              <img src="../images/pinterest.png" alt="Pinterest @zayrasuarezz_" width="885" height="885">
            </a>
          </div>
      
          <!-- Dirección de la empresa -->
          <div class="footer-address">
            <p>THE ZENSIVE©</p>
            <p>Calle Ejemplo 123, Las Palmas de Gran Canaria, España</p>
            <p>Email: <a href="mailto:thezensive@gmail.com">thezensive@gmail.com</a></p>
          </div>
      
          <!-- Aviso legal -->
          <div class="footer-legal">
            <p>&copy; 2025 THE ZENSIVE. Todos los derechos reservados.</p>
            <a href="aviso-legal.html">Aviso legal</a>
          </div>
        </div>
      
        <!-- Logo en la parte baja -->
        <div class="footer-logo">
          <img src="../images/thezensive-logotipo.png" alt="Logotipo de The Zensive"
          width="1668" height="181">
        </div>
      </footer>
</body>