<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Author" content="THE ZENSIVE">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://use.typekit.net/jgk3gqt.css">
    </head>
<body>
    <header>
      <nav>
            <a href="index.html">
              <img src="../images/thezensive-isotipo.png" alt="Logotipo The Zensive"
              width="2436" height="1094">
            </a>     
        <ul class="menu">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="portfolio.html" class="active">Portfolio</a></li>
            <li><a href="presupuesto.html">Presupuesto</a></li>
            <li><a href="contacto.html">Contacto</a></li>
          </ul>
      </nav>
    </header>

    <section class="gallery">
      <h1>GALLERY</h1>
      
      <div class="gallery-item large">
          <img src="../images/prueba-menu.jpg" alt="Índice brandbook Rebel Bond"
          width="540" height="675">
      </div>
      <div class="gallery-item empty"></div> <!-- hueco invisible -->
      <div class="gallery-item">
          <img src="../images/embosto-02.jpg" 
          alt="Cartel jornada puertas abiertas" width="1125" height="1406">
      </div>
      <div class="gallery-item empty"></div> <!-- hueco invisible -->
      <div class="gallery-item tall">
          <img src="../images/rebel-bond1.jpg" 
          alt="Carteleria activista Rebel Bond" width="1100" height="700">
      </div>
      <div class="gallery-item empty"></div> <!-- otro hueco -->
      <div class="gallery-item">
          <img src="../images/foto1-minigallery.jpg" alt="Proyecto 4"
          width="972" height="730">
      </div>
      <div class="gallery-item wide">
          <img src="../images/foto-editorial-design.jpg" alt="Proyecto 5"
          width="1059" height="666">
      </div>
      <div class="gallery-item">
          <img src="../images/embosto-06.jpg" alt="Proyecto 6" width="1125" height="1406">
      </div>
      <div class="gallery-item empty"></div> <!-- hueco invisible -->
      <div class="gallery-item empty"></div> <!-- hueco invisible -->
      <div class="gallery-item empty"></div> <!-- hueco invisible -->
      <div class="gallery-item large">
          <img src="../images/prueba-camisa.jpg" 
          alt="Hombre de espaldas con camiseta de trabajo" width="1024" height="1217">
      </div>
      <div class="gallery-item wide">
          <img src="../images/16x9.jpg" alt="Cartel en una columna"
          width="1775" height="998">
      </div>
      <div class="gallery-item empty"></div> <!-- hueco invisible -->
      <div class="gallery-item empty"></div> <!-- hueco invisible -->
      <div class="gallery-item large">
          <img src="../images/bolsita.jpg" alt="bolsa packaging" width="1020" height="1024">
      </div>
      <div class="gallery-item empty"></div> <!-- hueco invisible -->
      <div class="gallery-item tall">
          <img src="../images/jornadas_rojo.jpg" 
          alt="Cartel jornada de puertas abiertas" width="1512" height="2016">
      </div>
      <div class="gallery-item tall">
          <img src="../images/Poster-Mockup.jpg" 
          alt="Cartel en parada de autobuses" width="756" height="1008">
      </div>
      <div class="gallery-item empty"></div> <!-- hueco invisible -->
      <div class="gallery-item empty"></div> <!-- hueco invisible -->
      <div class="gallery-item wide">
          <img src="../images/foto2-minigallery.jpg" 
          alt="Documentos de trabajo Embosto" width="1125" height="843">
      </div>
  </section>
  
  
    <footer>
        <div class="footer-container">
          <!-- Redes sociales -->
          <div class="footer-socials">
            <a href="https://www.facebook.com" target="_blank">
              <img src="../images/facebook.png" alt="Facebook @thezensive" width="885" height="885">
            </a>
            <a href="https://www.instagram.com/thezensive/" target="_blank">
              <img src="../images/instagram.png" alt="Instagram @thezensive" width="885" height="885">
            </a>
            <a href="https://pin.it/61AoFFeXx" target="_blank">
              <img src="../images/pinterest.png" alt="Pinterest @zayrasuarezz_" width="885" height="885">
            </a>
          </div>
      
          <!-- Dirección de la empresa -->
          <div class="footer-address">
            <p>THE ZENSIVE©</p>
            <p>Calle Ejemplo 123, Las Palmas de Gran Canaria, España</p>
            <p>Email: <a href="mailto:thezensive@gmail.com">thezensive@gmail.com</a></p>
          </div>
      
          <!-- Aviso legal -->
          <div class="footer-legal">
            <p>&copy; 2025 THE ZENSIVE. Todos los derechos reservados.</p>
            <a href="aviso-legal.html">Aviso legal</a>
          </div>
        </div>
      
        <!-- Logo en la parte baja -->
        <div class="footer-logo">
          <img src="../images/thezensive-logotipo.png" alt="Logotipo de The Zensive"
          width="1668" height="181">
        </div>
      </footer>
  </body>